<a href="https://colab.research.google.com/github/prathima2707/CodeClause_project/blob/main/salary_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.import library
import pandas as pd

In [ ]:
#2.import data
salary = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Salary%20Data.csv')

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [ ]:
salary.head

<bound method NDFrame.head of     Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872>

In [ ]:
salary.describe

<bound method NDFrame.describe of     Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872>

In [ ]:
salary.shape

(40, 2)

In [ ]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [ ]:
#3.define target (y) and features(x)
y = salary[['Salary']]
x = salary[['Experience Years']]

In [ ]:
x.shape

(40, 1)

In [ ]:
y.shape

(40, 1)

In [ ]:
#4.train test split
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state =2529)
x_train

    Experience Years
28               6.5
31               7.9
34               8.7
20               4.7
4                2.0
3                1.5
18               4.3
26               6.0
2                1.3
22               5.1
35               9.0
7                2.9
39              10.5
30               7.1
10               3.2
0                1.1
9                3.2
13               3.8
5                2.2
37               9.6
23               5.3
25               5.9
21               4.9
24               5.5
8                3.0
36               9.5
15               4.0
32               8.2

In [ ]:
#model select
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((28, 1), (12, 1), (28, 1), (12, 1))

In [ ]:
x_train

    Experience Years
28               6.5
31               7.9
34               8.7
20               4.7
4                2.0
3                1.5
18               4.3
26               6.0
2                1.3
22               5.1
35               9.0
7                2.9
39              10.5
30               7.1
10               3.2
0                1.1
9                3.2
13               3.8
5                2.2
37               9.6
23               5.3
25               5.9
21               4.9
24               5.5
8                3.0
36               9.5
15               4.0
32               8.2

In [ ]:
# Step 5 : select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# Step 6 : train or fit model
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

array([26596.96131107])

In [ ]:
model.coef_

array([[9405.61663234]])

In [ ]:
# Step 7 : predict model
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([[ 90555.15441095],
       [ 59516.61952424],
       [106544.70268592],
       [ 64219.42784041],
       [ 68922.23615658],
       [123474.81262412],
       [ 84911.78443155],
       [ 63278.86617718],
       [ 65159.98950364],
       [ 61397.74285071],
       [ 37883.70126987],
       [ 50111.00289191]])

In [ ]:
# Step 8 : model accuracy
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [ ]:
mean_absolute_error(y_test,y_pred)

4005.9263101681768

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

0.06384602996141632

In [ ]:
mean_squared_error(y_test,y_pred)

24141421.671440993